@use "../../styles/variables.scss" as *;

.NavBar {
  display: flex;
  justify-content: space-around;
  background-color: $background-color;
  align-items: center;
  padding: 1rem;
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $main-color;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $secondary-color;
      transform: scale(1.1);
    }
  }
}
